<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Sociólogos</title>
</head>
<body>
  <!-- Incluir o Header -->
  <%- include('./partials/header') %>

  <h1>Lista de Sociólogos</h1>
  <section>
    <div class="sociologo-container">
      <% sociologos.forEach(sociologo => { %>
        <div class="sociologo-card">
          <h2><%= sociologo.nome %></h2>
        </div>
      <% }) %>
    </div>
  </section>
</body>
</html>
