<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mapa Sociologos</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/socioGlobo.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.js"></script>
</head>

<!-- Incluir o Header -->
<%- include('./partials/header') %>

    <body>

        <div id="map"></div>

        <script>
            // Token do Mapbox
            mapboxgl.accessToken = 'pk.eyJ1Ijoid2xhZGluOTciLCJhIjoiY201OW0wdzd6NGFqdzJxcGticXp0dnpnMiJ9.4bTvBPpna6gJ96xPU91mBQ';

            // Dados das localizações recebidos do backend
            const locations = JSON.parse('<%- JSON.stringify(locations) %>');

            // Configuração inicial do mapa
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v12',
                center: [-38.5426, -3.71722], // Coordenadas iniciais
                zoom: 4
            });

            // Adicionar marcadores ao mapa
            locations.forEach(location => {
                const el = document.createElement('div');
                el.className = 'custom-marker';
                el.style.backgroundImage = `url(${location.image})`;

                new mapboxgl.Marker(el)
                    .setLngLat(location.coordinates)
                    .setPopup(
                        new mapboxgl.Popup({ offset: 25 }).setText(location.name)
                    )
                    .addTo(map);
            });
        </script>
    </body>

</html>